<div class="container u-container">
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-sm-offset-2 u-profile">
			<h1>Profile</h1>
			<% if @user.fname %>
				<%= "Hi " + @user.fname + "!" %>
			<% elsif @user.fname ++ @user.lname %>
				<%= "Hi " + @user.fname + " " + @user.lname + "!" %>
			<% end %>

			<% if @user.profilepic? %>
				<div class="profilepic"> <%= image_tag @user.profilepic.url(:medium) %></div><br>
			<% end %>
			<br>
			<%= link_to '<Update Profile>', edit_user_registration_path %>
		</div>

		<div class="col-xs-12 col-sm-4 col-sm-offset-1 u-events">
			<h1>Events</h1>
				<h3>Upcoming Events</h3>
				<% @user.events.each do |event| %>
					<% if Time.now < event.start %>
            <p><%= event.start.strftime("%m/%d/%Y %A %I:%M%p") %> at <%= event.place.name %></p>
						<%= link_to '<See Event>', event_path(event) %>
						<hr>
					<% end %>
				<% end %>

				<h3>Past Events</h3>
				<% @user.events.each do |event| %>
					<% if Time.now > event.start %>
						<p><%= event.start.strftime("%m/%d/%Y %A %I:%M%p") %> at <%= event.place.name %></p>
						<%= link_to '<See Event>', event_path(event) %>
				 		<hr>
					<% end %>
				<% end %>
		</div>
	</div>
</div>
