<div class="pagetitle">
	<h1 class="event-title"><%= @place.name %></h1>
	<span class="eventdescription">
		"<%= @event.description %>"
	</span>
</div>

<div class="container e-container">
	<div class="row is-table">
		<div class="col-xs-12 col-sm-3 col-sm-offset-1">
			<div class="attending">
				<h3>Attendees</h3>
				<% @event.users.each do |user| %>
					<%= user.email %>
				<% end %>
				<hr>
				<%= render 'join_eventform' %>
			</div>
		</div>

		<div class="col-xs-12 col-sm-7">
			<div class="gmaps">
				<div id="map-container">
				  <div id="map-canvas"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<%= render 'form' %>
		</div>
	</div>
</div>
