<!DOCTYPE html>
<html>
	<head>
	  <title>EventHop</title>
	  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>

		<meta name="viewport" content="width=device-width, initial-scale=1">

	  <!-- google font -->
		<link href="https://fonts.googleapis.com/css?family=Oleo+Script:700|Oswald:300,500" rel="stylesheet">
	</head>

	<body>

		<div id="wrap">

			<nav class="navbar">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
							<span class="glyphicon glyphicon-align-justify"></span>
			      </button>
			      <ul class="navbar-brand" href="#">
							Event Hop
							<span>
								<% if user_signed_in? %>
									<% if current_user.fname %>
										Welcome! <%= current_user.fname %>
									<% end %>
								<% end %>
							</span>
						</ul>
			    </div>

			    <div class="collapse navbar-collapse" id="myNavbar">
				    <ul class="nav navbar-nav navbar-right">
							<% if user_signed_in? %>
								<li><%= link_to 'Home', places_path %></li>
								<li>
									<% if current_user[:admin] == true %>
										<%= link_to 'Create New Place', new_place_path %>
									<% end %>
								</li>
				        <li><%= link_to 'Profile', user_path(current_user.id) %></li>
				        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
							<% else %>
								<li><%= link_to 'Sign Up', new_user_registration_path %></li>
								<li><%= link_to 'Log In', new_user_session_path %></li>
							<% end %>
						</ul>
			    </div>
			  </div>
			</nav>

		  <div id="main" class="clear-top">
				<% if notice %>
					<p class="notice"><%= notice %></p>
				<% elsif alert %>
					<p class="alert"><%= alert %></p>
				<% end %>

				<%= yield %>
		  </div>
		</div>

		<footer class="footer">
				<ul class="list-inline text-center">
					<li>
						<%= link_to image_tag("facebook.png"), "http://www.facebook.com" %>
					</li>
					<li>
						<%= link_to image_tag("twitter.png"), "http://www.twitter.com" %>
					</li>
					<li>
						<%= link_to image_tag("instagram.png"), "http://www.instagram.com" %>
					</li>
				</ul>
		</footer>

		<script type="text/javascript">
			function initialize() {
				if ($('#map-canvas').length > 0) {
			    handler = Gmaps.build('Google');
			    handler.buildMap({
							provider: {},
							internal: {id: 'map-canvas'}
						},
			      function() {
			        markers = handler.addMarkers(<%= raw @hash.to_json %>);
			        handler.bounds.extendWith(markers);
			        handler.fitMapToBounds();
							handler.getMap().setZoom(18);
			      });
			  }
		  }
		</script>

		<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['EVENTHOP_GMAPS_API_KEY'] %>&callback=initialize" type="text/javascript"></script>
		<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

	</body>
</html>
